mixin add_links(title)

  .page-rows
    h1.text-center= title

    span.vert-space

    .links-container
      h4.text-center CSO

        .links-card-group
          #wallboard_cso
            a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://nhprnin001.dt.inc/IWP/Marquee/p/Billing/' type='button')
              ='CSO (Billing)'




      #wallboard_sfi
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/SFIall/' type='button')
          ='F&I'

      #wallboard_dms
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo1/' type='button')
          ='DMS'

      #wallboard_rts_one
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo10/' type='button')
          ='RTS Team 1'
      #wallboard_rts_two
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo11/' type='button')
          ='RTS Team 2'
      #wallboard_rts_three
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo12/' type='button')
          ='RTS Team 3'
      #wallboard_rts_four
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo13/' type='button')
          ='RTS Team 4'
      #wallboard_rts_five
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo14/' type='button')
          ='RTS Team 5'

      #wallboard_crm
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/CFMAll/' type='button')
          ='CRM'

      #wallboard_strategic_accts_one
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo8/' type='button')
          ='Strategic Accts 1'
      #wallboard_strategic_accts_one
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo9/' type='button')
          ='Strategic Accts 2'
      #wallboard_strategic_accts_one
        a.nav-group-item.btn.btn-large.btn-default.wall-board-item(href='http://172.16.224.193/IWP/Marquee/p/wfo7/' type='button')
          ='Strategic Accts 3'
