extends views/layout.pug

include ./views/mixins/sections/add_tsp
include ./views/mixins/sections/add_links

block content

  .pane.sections-list

    #homepage_sec.app-section
      +add_tsp('TSP Reports')

    #interactions_sec.app-section
      +add_links('Wallboard Links')
