mixin navbar_builder(title)
  div.pane.pane-sm.sidebar
    div.logo

    div.sidebar-menu
      nav.nav-group
        h1.nav-group-title.text-center Menu

        div.sidebar-menu-items

          button#homepage.nav-group-item.btn.btn-large.btn-default.icon.icon-home.main-btn.main-click-el
            = ' TSP Reports'

          button#interactions.nav-group-item.btn.btn-large.btn-default.icon.icon-chart-area.main-btn.main-click-el
            = ' Wallboard Links'
